@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Urbanist", sans-serif;
    background: linear-gradient(135deg, #c5dbf2, #2161a0);
    color: white;
    display: flex;
    justify-content: center;
    padding: 40px;
}

.container {
    width: 600px;
}

.glass-card {
  box-sizing: border-box;
  padding: 20px;
  background: rgba(217, 217, 217, 0.58);
  border: 1px solid white;
  box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
  backdrop-filter: blur(10px);
  border-radius: 17px;
  user-select: none;
  font-weight: bolder;
  color: black;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}

h2{
    color: #fff;
    display: flex;
  justify-content: center;
}

.card {
    background: #2a2a2a;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}

/* From Uiverse.io by Yaya12085 */ 
.modal {
  background-color: rgb(255, 255, 255);
  border-radius: 1em;
  box-shadow: 0px 100px 48px -60px rgba(0,0,0,0.1);
  color: rgb(15, 14, 14);
  padding: 10px;
  overflow: hidden;
  position: relative;
  transition: background-color 0.3s, color 0.3s;
}

.content > *, .modal > * {
  padding: 0.875em;
}

.title {
  font-size: 1.25em;
  font-weight: 600;
  line-height: 1.2;
  display: flex;
  justify-content: center;
}

.message {
  line-height: 1.2;
  text-align: center;
}

.actions {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.upload-btn {
  background-color: transparent;
  border: 0.125rem dashed hsla(223,10%,50%,0.4);
  flex: 1;
  padding: 0.375rem 2rem;
}

.upload-btn:hover {
  background-color: hsla(223,10%,60%,0.2);
}



.result {
  margin-top: 4px;
  background-color: rgba(0, 140, 255, 0.062);
  display: flex;
  align-items: center;
  position: relative;
  border-radius: 1em;
}

.file-uploaded {
  font-weight: 300;
}

.file-uploaded::before {
  position: absolute;
  content: "X";
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(26, 7, 1, 0.212);
  height: 30px;
  width: 30px;
  border-radius: 50%;
  right: 10px;
  top: 10px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  cursor: pointer;
}

.file-uploaded:hover::before {
  background-color: rgba(233, 40, 6, 0.664);
}

textarea {
    width: 90%;
    height: 100px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: none;
}

input[type="file"],
input[type="text"] {
    width: 100%;
    margin-bottom: 10px;
}

button {
    padding: 10px 15px;
    background: #00bcd4;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: black;
    font-weight: bold;
    font-family: "Urbanist", sans-serif;
}

/* .close {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(226, 94, 54);
  height: 10px;
  width: 10px;
  border-radius: 50%;
  position: absolute;
  right: 10px;
  top: 10px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
} */






button:hover {
    background: #00acc1;
}

#textInput , #voiceId, #audioPlayer {
    font-family: "Urbanist", sans-serif;
}

#voiceId {
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    width: 95%;
}
